.elements__icon {
  margin-left: 40px;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.elements__icon:hover {
  opacity: 0.6;
}
