.profile__name {
  margin: 0 19px 0 0;
  color: var(--accent);
  font: 500 42px/48px "Inter", arial, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .profile__name {
    margin: 0 10px 0 0;
    text-align: center;
    font: 500 27px/32px "Inter", arial, sans-serif;
  }
}
