.profile__edit-button {
  border: 1px solid var(--accent);
  margin-top: 5px;
  width: 24px;
  height: 24px;
  background: transparent;
  cursor: pointer;
  padding: 0;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  background-image: url("../../../images/profile__pen-icon.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
