.card__like_active {
  margin: 0 0 0 40px;
  padding: 0;
  min-width: 22px;
  height: 19px;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  background-image: url("../../../../images/card__like_active.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like_active:hover {
  opacity: 0.5;
}
